:root {
  --color-text: #a2abbe;
  --color-bg: #031223;
  --color-border: #888;
  --color-light: #dae0eb;
  --color-accent: #fa8925;
  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 4rem;
  --font-size-xs: 0.9rem;
  --font-size-s: 1rem;
  --font-size-m: 1.1rem;
  --font-size-l: 1.3rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 4rem;
  --line-height-body: 1.5;
  --line-height-heading: 1.2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 60rem) {
  html {
    scroll-snap-type: y mandatory;
  }
}

body {
  position: relative;
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
  gap: var(--space-xl);
  font-family: 'Syne Mono', monospace;
  font-weight: normal;
  line-height: var(--line-height-body);
  color: var(--color-text);
  background-color: var(--color-bg);
  hyphens: auto;
}

/* Grain effect: https://ibelick.com/blog/create-grainy-backgrounds-with-css */
body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 300px;
  opacity: 0.15;
  pointer-events: none;
}

a:link,
a:visited,
a:focus,
a:active {
  color: var(--color-light);
}
a:hover {
  color: var(--color-accent);
}
a:focus {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
  border-radius: 2px;
}

.header {
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
  line-height: var(--line-height-heading);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  text-align: center;
  color: var(--color-light);
  scroll-snap-align: center;
}
.header h1 {
  line-height: 1;
  font-size: var(--font-size-xxxl);
  font-weight: normal;
}
.subtitle {
  font-size: var(--font-size-xxl);
  font-weight: bold;
}
.audio {
  max-width: 30rem;
  margin-inline: auto;
}

.main {
  display: flex;
  max-width: 80rem;
  margin-inline: auto;
  flex-direction: column;
  gap: var(--space-xl);
}

.main h2 {
  margin-bottom: var(--space-m);
  line-height: var(--line-height-heading);
  font-size: var(--font-size-xxl);
  font-weight: normal;
}

.page {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  scroll-snap-align: center;
}
@media (min-width: 60rem) {
  .page {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
  }
}

.page__text {
  display: flex;
  align-items: center;
}

.page__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 60rem) {
  .page:nth-child(odd) .page__image {
    order: -1;
  }
}

.page p {
  font-size: var(--font-size-xl);
}

.page img {
  width: auto;
  height: auto;
  max-width: calc(100vw - var(--space-xl));
  max-height: calc(100vh - var(--space-xl));
}
@media (min-width: 60rem) {
  .page img {
    max-width: calc(50vw - var(--space-xl));
  }
}
@media (min-width: 80rem) {
  .page img {
    max-width: calc(40rem - var(--space-xl));
  }
}

.footer {
  text-align: center;
  scroll-snap-align: center;
}

/* Fancy glow effect */
.glow {
  position: absolute;
  pointer-events: none;
  left: 12.5vw;
  top: -30vw;
  z-index: -1;
  width: 75vw;
  height: 55vw;
  border-radius: 9999px;
  background-color: var(--color-accent);
  filter: blur(10vw);
  opacity: 0.4;
}
@media (min-width: 35rem) {
  .glow {
    top: -35vw;
  }
}
@media (min-width: 60rem) {
  .glow {
    top: -42vw;
  }
}

@media (min-width: 35rem) {
  :root {
    --sidebar-width: 25%;
  }
  body {
    flex-wrap: nowrap;
  }
}
@media screen {
  .phone {
    display: none;
  }
}
@media print, (min-width: 60rem) {
  .work-experience ul {
    columns: 2;
    column-gap: var(--space-s);
  }
  .work-experience li {
    /* Don't wrap list items to the next column in Firefox:
		   https://stackoverflow.com/a/18139561/1973105 */
    display: table;
  }
}

@media print {
  :root {
    --color-text: #000;
    --color-bg: #fff;
    --color-border: #888;
    --color-light: #000;
    --color-accent: #000;
    --font-size-xs: 0.8rem;
    --font-size-s: 0.9rem;
    --font-size-m: 1rem;
    --sidebar-width: 32%;
  }
  @page {
    size: A4 portrait;
    margin: 0.5cm 1cm;
  }
  html,
  body {
    width: 210mm;
    /* HACK: Make the line occupy full width, I don't know why the number
		   doesn't match 297mm of A4 and seems to be dependent on something else */
    height: calc(317mm * 2);
    hyphens: none;
  }
  html {
    font-size: 11pt;
  }
  body {
    flex-wrap: nowrap;
  }
  .sidebar {
    padding: 0 1cm 0 0;
    border-right: 1px solid var(--color-border);
    background-color: initial;
  }
  .main {
    padding: 0 0 0 1cm;
  }
  .no-print {
    display: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  article,
  p,
  blockquote,
  li,
  dl,
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
}
